/* =============================================================================
                   Blog Page
   ========================================================================== */

.blogPost {
  border: 2px solid $turquoise;
  border-radius: 50px;
  margin: 20px 10px;
  padding: 30px;
  box-shadow: 8px 8px 5px $darkGrey;
}  

h2.entry-title a {
  color: $darkGrey;
  &:hover {
  	color: $turquoise;
  }
}

footer.blogFooter {
	background: $white;
	height: 40px;

	p {
		margin: 10px;
		a {
			font-weight: 400;
			color: $darkBrown;
			&:hover {
				color: $mediumBrown;
			}
		}
	}	
}
