h2{

}
.wpcf7{
	margin-top: 50px;
	border: 2px solid $turquoise;
	border-radius: 50px;
	margin: 20px 20px;
	padding: 30px;
	box-shadow: 8px 8px 5px $darkGrey;
	.wpcf7-form{
		padding: 50px;
		p{
			text-transform: uppercase;
		}
		.wpcf7 input[type="text"],
		.wpcf7 input[type="email"],
		.wpcf7-textarea
			{
			    width: 50%;
			}
		.wpcf7-submit{
			padding: 20px 30px;
			border:2px solid $darkGrey;
			border-radius: 5px;
			background-color: transparent;
			color: $darkGrey;
			text-transform: uppercase;
			font-weight: bolder;
			font-size: 20px;
			transition: all 0.2s ease-in-out;
		}
		.wpcf7-submit:hover{
			background: rgba(236,236,226, 0.5);
			border: 2px solid;
			border-color:rgba(236,236,226, 0.5);
		}
	}
}

