/* =============================================================================
                   Footer
   ========================================================================== */
footer {
  clear:both;
  background: $lightBeige;
  // height:200px;
  .flexContainer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    @media (max-width:670px){
        flex-direction: column;
        align-items: center;
    }
    article{
      i.fa{
        color: $darkGrey;
        font-size: 30px;
        padding: 10px;
        @media (max-width:1020px){
            font-size: 25px;
        }
      }
    }
    article.leftSide{
      max-width:33%;
      margin:0;
      padding:0;
      display:flex;
      flex-direction:column;
      @media (max-width:670px){
          justify-content: space-between;
          max-width:100%;
      }
      div.phone{
        display:flex;
        @media (max-width:670px){
            font-size: 15px;
        }
      }
      div.email{
        display:flex;
        @media (max-width:670px){
            font-size: 15px;
        }
      }
      div.address{
        display:flex;
        @media (max-width:670px){
            font-size: 15px;
        }
      }
    }
    article.middle{
       width:33%;
       margin:0;
       padding:0;
       display:flex;
       flex-direction:column;
       justify-content:center;
       align-items:center;
       @media (max-width:670px){
          order:3;
       }
         .lotusBottom{
          width:40px;
          height:40px;
         }
    }
    article.rightSide{
       max-width:33%;
       margin:0;
       padding:0;
       line-height: 200px;
       @media (max-width:860px){
           display: flex;
           flex-wrap: wrap;
           line-height: 0;
       }
       @media (max-width:670px){
           max-width:100%;
       }
       i.fa{
         color: $darkGrey;
         font-size: 40px;
         padding: 20px;
         @media (max-width:1020px){
             font-size: 25px;
         }
       }
       i.fa:hover{
         color: $turquoise;
       }
    }
  }
}





