/* =============================================================================
                   Footer
   ========================================================================== */
footer {
  clear:both;
  background: $lightBeige;
  height:200px;
  article{
    float:left;
    text-align: center;
    line-height:200px;
    i.fa{
      color: $darkGrey;
      font-size: 30px;
      padding: 10px;
    }

    i.fa:hover{
      color: $turquoise;
    }
  }

  article.leftSide{
    width:33%;
    margin:0;
    padding:0;

  }

  article.middle{
     width:33%;
     margin:0;
     padding:0;
     p{
         display: inline;
       }
  }

  article.rightSide{
     width:33%;
     margin:0;
     padding:0;
  }
}




i.fa{
  color: $darkGrey;
  font-size: 30px;
  padding: 10px;
}

i.fa:hover{
  color: $turquoise;
}