/* =============================================================================
                   Front Page Styles
   ========================================================================== */
section.headerBackground{
  height:100vh;
  max-width: 100%;
  background: url(img/yoga1.jpg);
  background-size: cover;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

section.headerBackground h2{
  font-size: 130px;
  font-weight: 100;
  margin:0;
  margin-bottom: 30px;
}


button.getStarted{
  padding: 20px 30px;
  border:2px solid $darkGrey;
  border-radius: 5px;
  background-color: transparent;
  color: $darkGrey;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

button.getStarted:hover{
  background: rgba(236,236,226, 0.5);
  border: 2px solid;
  border-color:rgba(236,236,226, 0.5);
}


div.quickOverview{
  display: flex;
  justify-content:space-between;
}

div.quickOverview article{
  padding:45px;
  margin:20px;
}