/* =============================================================================
                   Navigation
   ========================================================================== */
  header{
    background: $lightBeige;
    position: fixed;
    width:100%;
    h1 {
      float: left;
      margin: 20px;
      width: 300px;
      font-weight: 300;
      a {
        color: $darkGrey;
      }
      a:hover{
        color: $turquoise;
      }
      .lotusTop{
        width: 40px;
        height:40px;
        margin-left: 15px;
      }
    }
  }

  ul.menu {
    float: right;
    list-style-type: none;
    margin: 20px;
    padding: 10px;
    li {
      display:inline;
      margin-right: 10px;
      a {
        color: $darkGrey;
        padding:10px;
        font-size: 15px;
      }
      a:hover{
        color: $turquoise;
      }
    }
  }
    

     
