/* =============================================================================
                   Navigation
   ========================================================================== */
  header{
    background: $lightBeige;
  }
  h1 {
    float: left;
    margin: 20px;
  }

  h1 a {
    color: $darkGrey;
  }

  h1 a:hover,
  ul.menu li a:hover {
    color: $turquoise;
  }

  ul.menu {
    float: right;
    list-style-type: none;
    margin: 20px;
    padding: 10px;
  }
    ul.menu li {
      display:inline;
      margin-right: 10px;
    }

      ul.menu li a {
        color: $darkGrey;
        padding:10px;
      }
