.entry-meta,
.entry-utility {
	h1.entry-title {
		float: none;
	}
	a {
		font-weight: 500;  
		color: $mediumBrown;
		&:hover {
			color: $turquoise; 
		}	
	}
}

.nav-previous,
.nav-next {
	a {
		font-weight: 500;
		color: $mediumBrown;
		&:hover {
			color: $turquoise;
		}	
	}
}

.logged-in-as {
	a {
		font-weight: 500;
		color: $mediumBrown;
		&:hover {
			color: $turquoise;
		}	
	}
}

footer.comment-meta {
	height: 70px;
	padding: 10px;
	background: $white;
	margin: 0;
}

.comment-body {
	.reply {
		margin-top: 10px;
		a {
			color: $darkBrown;
			&:hover {
				color: $turquoise;
			}
		}
	}
}
