/* =============================================================================
                   Sidebar
========================================================================== */

.sidebar {
  width:30%;
  float:left;
  margin-top: 120px;
}
  .sidebar ul {
    margin:0;
    padding:0;
  }
    .sidebar ul li {
      list-style: none;
    }

input {
  border-radius: 3px;
  margin: 20px 10px;
}    

input.searchsubmit {
  background: $white;
  border-shadow:
  // color: $darkGrey;
  // border: $darkGrey;

}
ul.xoxo a {
  margin: 20px;
  font-weight: 500;
  color: $mediumBrown;
  &:hover {
    color: $turquoise;
  }
}

h3 {
  margin: 15px 10px;
}