/* =============================================================================
                   Color Variables
========================================================================== */

   $lightBeige : #ECECE2;
   $mediumBeige: #E7E4CC;
   $darkBeige: #D6CAAC;

   $lightBrown: #BFADA6;
   $mediumBrown: #967462;
   $darkBrown: #6B5C54;

   $offWhite: #FDFDFD;
   $darkGrey: #1e212a;

   $lightGreen: #CEF6E5;
   $lightTurquoise: #AADDD4;
   $turquoise: #91DDD1;